body{
    margin: 0 auto;
    max-width: 1920px;
}

header{
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 33% 33% 50%);
    padding: 0;
    
    
    
}

section{
    margin: auto;
}

div{
    margin-left: 1%;
    margin-top: 7.5%;
   
}

a{
    color: black;
    text-decoration: none;
    font-family: ;
}

a:hover{
    font-weight: bold;
   
}

img{
    width: 100px;
    height: 100px;
    margin: auto;
 } 

